.div{
    background: linear-gradient(90deg, rgba(255,9,0,1) 0%, rgba(255,254,0,1) 14%, rgba(27,255,0,1) 35%, rgba(0,78,255,1) 52%, rgba(0,255,58,1) 70%, rgba(220,2,222,1) 84%, rgba(0,212,255,1) 100%);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
    height: 100px;
    width: 100px;
    padding: 2px;
}

.animated{
    height: 100px;
    width: 100px;
    padding: 2px;
}

.animated-in, .div-in{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: white;
}

.button-wrapper{
    width: 600px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,9,0,1) 0%, rgba(255,254,0,1) 14%, rgba(27,255,0,1) 35%, rgba(0,78,255,1) 52%, rgba(0,255,58,1) 70%, rgba(220,2,222,1) 84%, rgba(0,212,255,1) 100%);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
    padding: 1px;
}

.button{
    border-radius: inherit;
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
    transition: 2s;
}
.button:hover{
    background: rgba(255, 255, 255, 0.9);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
